/*NAV BAR*/
#shownav {
  display: flex;
  height: 150px;
  flex-direction: row;
  background-color: rgb(70, 77, 89);
  align-items: center;
  justify-content: space-between;
}
#showlogo img {
  height: 70px;
  width: auto;
  margin-left: 1.5rem;
  margin-bottom: 10px;
  margin-top: -15px;
}
#showlogo {
  display: flex;
  width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  letter-spacing: 20px;
}
#about {
  border: .5px solid rgba(232,235,238,.5);
  color: rgb(232,235,238);
  padding: 7px 30px 7px 30px;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: -65px;
}
#showsearch {
  margin-right: 1.5rem;
}

#showsearch input{
  width: 200px;
  height: 40px;
  border: 1px black solid;
  border-radius: 5px
}

#showsearchbutton {
  color: white;
  background: black;
  border: none;
}
#showpage {
  width: 100%;
  height: 100%;
  background: rgb(242,245,247);
}
#searchContainer {
  background: white;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(225, 232, 237);
  display: flex;
  align-items: center;
  justify-content: center;
}
#searchImage {
  height: 35px;
  width: auto;
  margin-bottom: 22px;
  margin-right: 0px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background: rgb(232,235,238);
  border-radius: 5px 0 0 5px;
}
#search {
  background: rgb(232,235,238);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 800px;
  margin-left: -7px;
  padding-left: 0px;
}
input:focus {
    outline-width: 0;
}

#showContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 76vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex-wrap: wrap;
  border: 1px solid black
}
#sentiment {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}
#entities {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}
#categories {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}
#keywords {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}
#emotion {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
}
