html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url("/images/background.jpeg");
}
button {
  width: 100px;
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
button:hover, .button-link:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
button:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
    text-decoration: none;
}
button:focus {outline: none;}

input[type="text"] {
  color: black;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 20px;
  font-size: 5em;
  padding: 20px;
  width: 900px;
  text-align:center;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
::-webkit-input-placeholder {
   color: black;
   text-align: center;
}
main {
  height: 100%;
}
#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo, img {
  height: 150px;
  width: auto;
  margin-top: 20px;
}
#brand {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 20px;
  color: white;
}
