html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url("/images/background.jpeg");
}

input[type="text"] {
  color: black;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 20px;
  font-size: 5em;
  padding: 20px;
  width: 900px;
  text-align:center;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

main {
  height: 100%;
}
#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo, img {
  height: 150px;
  width: auto;
  margin-top: 20px;
}
#brand {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 20px;
  color: white;
}
